/*Nicolaas Ivan Pretorius u19021306*/
body {
    background: #707070 url("../Pictures/Bg's/indexBG.jpg") no-repeat;
    background-size: cover;
    font-family: 'Open Sans';
}

.heading{
    color: #f0f0f0;
}