/*Nicolaas Ivan Pretorius u19021306*/
body {
    background: black url("../Pictures/Bg's/tpRateBg.jpg") no-repeat;
    background-size: cover;
    font-family: "Open Sans";
}

.kS{
    background: none;
    color: black;
    text-align: center;
    border-radius: 8px;
    border: none;
    position: relative;
}

.kST{
    text-align: center;
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

img{
    width: 450px;
    height: 450px;
    border: none;
    border-radius: 8px;
    text-align: center;
}