/*Nicolaas Ivan Pretorius u19021306*/
body {
    background: black url("../Pictures/Bg's/trendingBg.jpg") no-repeat;
    background-size: cover;
    font-family: "Open Sans";
}

* {
    box-sizing: border-box;
}

.search{
    border: 2px solid gray;
    padding: 6px 8px;
    background: none;
    outline: none;
    color: white;
    float: left;
}

input[type=text]{
    border: none;
    border-bottom: 2px solid grey;
    background: none;
    outline: none;
    color: white;
    padding: 0px;
    float: left;
    font-size: 25px;
    width: 80%;
}

.filter1{
    border: 2px solid gray;
    padding: 6px 8px;
    background: none;
    outline: none;
    color: white;
    float: left;
}

.filter2{
    border: 2px solid gray;
    padding: 6px 8px;
    background: none;
    outline: none;
    color: white;
    float: left;
}

.filter1:hover, .search:hover, .filter1:hover{
    background: darkorange;
}

input[type=text]:hover{
    background: darkorange;
    border-bottom: darkorange;
}


.search, input[type=text]{
    margin: 0px 0px;
    margin-top: 9px;
}

.filter1, .filter2{
    margin: 0px 0px;
    margin-top: 6px;
}

.last{
    background: none;
    color: white;
    text-align: center;
    border-radius: 8px;
    border: none;
    position: relative;
}

.lT{
    text-align: center;
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
}

img{
    width: 450px;
    height: 450px;
    border: none;
    border-radius: 8px;
    text-align: center;
}